@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-brown {
  background-color: #756157;
}

.button-in-favorite {
  background: #7DB54F;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  text-align: center;
}

.page-header {
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  width: 1200px;
  margin: 0 auto;
}


.page-navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 390px;
  margin-right: 237px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 264px;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

}

.logo {
  display: block;
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
}

.welcome-sedona {
  background-image: url("../images/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
}

.logo-welcome {
  margin: 51px 371px 81px 371px;
}

.promo {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 620px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.promo-title {
  margin-top: 63px;
  margin-bottom: 90px;
}

.promo-description {
  margin: 0;
}
.advantages {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  background-color: #82B3D3;
  color: #ffffff;
}

.images-advantages {
  width: 800px;
}

.advantages-columns {
  width: 400px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-title-first {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 92px;
  width: 230px;
}

.advantages-item-first {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  margin-top: 30px;
  width: 230px;
}

.advantages-item-second {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  list-style-type: none;
}

.advantages-item {
  width: 400px;
}

.newsletters {
  background-image: url("../images/background-newsletters.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
}

.footer-contacts {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 720px;
}

.footer-advertising {
  width: 115px;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contacts-address-phone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.hotel-filters {

  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-type .hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.select-pages {
  font-size: 18px;
  line-height: 21x;
}

.newsletters-catalog {
  text-align: center;
}

.page-footer-title-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.page-footer-description-catalog {
  font-size: 22px;
  line-height: 26px;
}

.filter-background {
  width: 1200;
  margin: 0 auto;
  background-image: url("../images/background-filters.jpg");
}

.filter-content {
  margin: 0 auto;
  width: 1060px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  width: 112px;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-infra {
  width: 152px;
  margin-right: 70px;
}

.catalog-filter-type {
  width: 160px;
  margin-right: 176px;
}

.select-container {
  display: flex;
  width: 1057px;
  margin: 0 auto;
  justify-content: space-between;
}
.celect-control {
  margin: 0;
  padding: 0;
}

.select-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 338px;
  margin-right: 191px;
}


.pagination-filter {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin: 0 auto;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style-type: none;
  margin-right: 270px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
