@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

p {
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color:#68A2CA;
}
.button:focus {
  background-color:#68A2CA;
}
.button:active {
  background-color:#82B3D3;
}

.button:disabled {
  color: #E5E5E5;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color:#615048;
}

.button-brown:focus {
  background-color:#615048;
}

.button-brown:active {
  background-color:#756157;
}



.button-in-favorite {
  background: #7DB54F;
}


.button-in-favorite:hover:focus {
  background-color:#6C9E42;
}

.button-in-favorite:active {
  background-color:#7DB54F;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  text-align: center;
}

.page-header {
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  width: 1200px;
  margin: 0 auto;
}


.page-navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 390px;
  margin-right: 237px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 264px;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  min-height: 26px;
  padding: 20px 17px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-icon {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  padding: 23px 12px;
  fill: #000000;
}

.navigation-link-home::before {
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 2px;
    background-color: #756257;
    content: "";
  }

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button-header {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  width: 130px;
}

.logo {
  display: block;
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
  z-index: 2;
}

.welcome-sedona {
  background-image: url("../images/background-welcome.jpg");
  z-index: 100;
  margin-top: -5px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo-welcome {
  margin: 51px 371px 81px 371px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.promo {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 25px;
  width: 620px;
}

.promo-description {
  margin: auto;
  margin-bottom: 90px;
}

.advantages {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  background-color: #82B3D3;
  color: #ffffff;
}

.images-advantages {
  width: 800px;
}

.advantages-columns {
  width: 400px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-title-first {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 92px;
  width: 230px;
}

.advantages-first {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  margin-top: 30px;
  width: 230px;
}

.advantages-second {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  list-style-type: none;
}

.advantages-item {
  margin: 80px 85px;
}
.advantages-reason {
  margin: 103px 85px 102px 85px;
}

.search-hotel {
  margin: auto;
  margin-top: 91px;
  margin-bottom: 93px;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 91px;
  margin-bottom: 29px;
}

.search-hotel-description {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.button-search-hotel {
  display: inline-block;
  min-width: 544px;
  margin: 0 auto;
}

.newsletters {
  background-image: url("../images/background-newsletters.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  padding: 94px 200px;
}

.newsletter-form {
  display: flex;
}

.field {
  margin: 0;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 22px 19px 22px;
  width: 590px;
  background-color: #F2F2F2;
  color: rgba (0, 0, 0, 0.6);
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.button-subscribe {
  width: 200px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.contacts {
  display: flex;
  width: 1060px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 35px;
}

.footer-social {
  margin-right: auto;
}

.footer-social-list {
display: flex;
flex-wrap: wrap;
margin:0;
padding: 0;
list-style-type: none;
}

.footer-social-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  min-height: 14px;
  padding: 13px 12px;
  fill: #83B3D3;
}

.footer-social-link:hover {
 fill: #68A2CA;
}

.footer-social-link:focus {
  fill: #68A2CA;
 }

 .footer-social-link:active {
  fill:rgba(104, 162, 202, 0.3);
 }

.footer-contacts {
  margin: 0;
  padding: 0;
  width: 720px;
}

.footer-advertising {
  width: 115px;
  margin-left: auto;
  padding-top: 9px;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.page-footer-description-catalog {
  margin: 0 auto;
  margin-bottom: 46px;
  width: 475px;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-contacts-address {
  margin-top: 5px;
}

.footer-contacts-address-phone {
  font-style: normal;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.footer-contacts-address-phone:hover {
 color: #CCCCCC;
 }

.footer-contacts-address-phone:focus {
 color: #CCCCCC;
 }

.footer-contacts-address-phone:active {
color: rgba(117, 97, 87, 0.3);
}

.html-academy{
  fill: #000000;
}

.html-academy:hover {
  fill:#756157;
}

.html-academy:focus {
  fill: #756157;
}

.html-academy:active {
  fill: rgba(117, 97, 87, 0.3);
}

.hotel-filters {
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 21px;
  margin-bottom: 40px;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  margin-left: 2px;
}

.breadcrumbs-link {
  display: block;
  background-repeat: no-repeat;
}

.breadcrumbs-link-index {
  background-image: url("../images/house-very-small.svg");
  min-width: 13px;
  min-height: 13px;
  fill: #ffffff;
  align-self: flex-start;
  margin-top: 4px;
  margin-bottom: 4px;
}

.breadcrumbs-arrow {
  background-image: url("../images/arrow.svg");
  min-width: 6px;
  min-height: 9px;
  fill: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
}

.button-list {
  text-decoration: none;
  align-self: flex-end;
}

.view {
box-sizing: border-box;
width: 48px;
height: 48px;
padding: 14px 12px 14px 12px;
border-radius: 4px;
border-width: 2px;
border-style: solid;
border-color: #E5E5E5;
align-content: flex-end;
}

.view-active {
  border-color: #000000;
}
.view:hover {
  border-color: #000000;
}
 .view:focus {
  border-color: #68A2CA;
 }
.button:active {
  background-color:#000000;
}

.view + .view {
  margin-left: 8px;
}

.hotel-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 35px;
  margin-bottom: 96px;
  list-style-type: none;
  margin-left: 73px;
  margin-right: 73px;
  padding: 20px;
  flex-grow: 1;
}


.hotel-card {
  display: grid;
  column-gap: 20px;
  row-gap: 16px;

  grid-template-columns: 140px 140px;
}

.hotel-card-image-link {
  grid-column: 1 / -1;
}

.hotel-card-title-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1 / -1;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
  height: 20px;
}

.newsletters-catalog {
  text-align: center;
  padding: 94px 200px;
}

.page-footer-title-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.page-footer-description-catalog {
  font-size: 22px;
  line-height: 26px;
}

.filter-background {
  background-image: url("../images/background-filters.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 70px;
  margin-top: -5px;
}

.filter-content {
  margin: 0 auto;
  width: 1060px;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-infra {
  width: 152px;
  margin-right: 70px;
}

.catalog-filter-type {
  width: 160px;
  margin-right: 176px;
}

.button-apply {
  display: block;
  margin: auto;
}

.button-apply-first {
  padding: 14px 15px;
  width: 160px;
  margin-top: 60px;
  margin-bottom: 15px;
}

.button-apply-second{
  background-color: transparent;
  margin-bottom: 1px;
  font-weight: 400;
  text-transform: capitalize;
}

.select-container {
  display: flex;
  width: 1057px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 45px;
}
.select-control {
  margin: 0;
  padding: 0;
  margin-right: 78px;
}

.select-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 338px;
  margin-right: 191px;
}

.pagination-filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 25px;
  width: 1055px;
}

.pagination-filter::after {
  position: absolute;
  top: -90px;
  margin: auto;
  width: 1055px;
  height: 1px;
  background-color: #E6E6E6;
  content: "";
  transform: rotate(180deg);
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style-type: none;
  margin-right: 270px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-size: 20px;
  padding: 11px 23px 11px 23px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.button-pagination {
  color: #000000;
}

.hotel-pages {
  font-size: 18px;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
